<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/h5bp8-normalize.css">
    <link rel="stylesheet" href="/css/h5bp8-main.css">
    <link rel="stylesheet" href="/css/elements.css">
    <link rel="stylesheet" href="/css/main.css">
    <%_ if (locals.extra_css) { _%>
    <link rel="stylesheet" href="<%= extra_css %>">
    <%_ } _%>
    <title><%= title %></title>
</head>
<body>
    <main role="main">
        <div id="content">
