.paper-contents {
    line-height: 1.4;
    max-width: 50em;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    counter-reset: headingnum;
}

.paper-contents figure {
    margin: 2em 0 1em 0;
    text-align: center;
}

.paper-contents figure.has-subfigures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 2em;
}

.paper-contents figure.subfigure {
    margin: 0;
}

.paper-contents figcaption {
    margin-top: .5em;
    font-weight: bold;
}

.paper-contents figure.has-subfigures > figcaption {
    width: 100%;
    margin-top: -.5em;
}

.paper-contents img {
    max-width: 50em;
    margin: .1em;
}

.paper-contents img.img-small {
    width: 12em;
}

.paper-contents img.img-medium {
    width: 25em;
}

.paper-contents img.img-large {
    width: 100%;
}

.paper-contents table {
    border-collapse: collapse;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin: 2em auto 2em auto;
    min-width: 25em;
}

.paper-contents table p {
    margin: 0;
}

.paper-contents table table {
    border: none;
    margin: 0 auto 0 auto;
    min-width: 0;
}

.paper-contents caption {
    font-weight: bold;
}

.paper-contents figure+table {
    margin-top: 4em;  /* Additional space for tables preceded by figures (consecutive captions) */
}

.paper-contents thead tr {
    border-bottom: 1px solid #000;
}

.paper-contents .border-above {
    border-top: .01em solid #000;
}

.paper-contents th,
.paper-contents td {
    padding: .2em .5em .2em .5em;
    text-align: center;
}

.paper-contents td.has-rowspan {
    border-top: .01em solid #000;
    border-bottom: .01em solid #000;
}

.paper-contents pre {
    text-align: left;
}

.paper-contents dl {
    margin: 0 0 0 1em;
}

.paper-contents dl dt {
    float: left;
    margin: 0;
}

.paper-contents dl dd {
    margin: 0 0 0 1.5em;
}

.paper-contents div.CopyrightBlock,
.paper-contents .hidden {
    display: none;
}

.paper-contents div.Paper-Title {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.1;
    margin: 0;
    text-align: center;
}

.paper-contents div.Author {
    margin-top: 1em;
}

.all-authors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
}

.paper-contents div.Affiliations p {
    margin: 0;
}

.paper-contents h1,
.paper-contents h2,
.paper-contents h3,
.paper-contents h4,
.paper-contents h5,
.paper-contents h6 {
    font-family: Helvetica,Arial,sans-serif;
    margin: .5em 0 .5em 0;
}

.paper-contents h1 {
    font-size: 1.5em;
    text-transform: uppercase;
}

.paper-contents h1:not(.not-numbered) {
    counter-increment: h1counter;
    counter-reset: h2counter h3counter h4counter h5counter h6counter;
}

.paper-contents h2 {
    font-size: 1.25em;
}

.paper-contents h2:not(.not-numbered) {
    counter-increment: h2counter;
    counter-reset: h3counter h4counter h5counter h6counter;
}

.paper-contents h3 {
    font-size: 1.25em;
    font-weight: normal;
    font-style: italic;
}

.paper-contents h3:not(.not-numbered) {
    counter-increment: h3counter;
    counter-reset: h4counter h5counter h6counter;
}

.paper-contents h4:not(.not-numbered) {
    counter-increment: h4counter;
    counter-reset: h5counter h6counter;
}

.paper-contents h5:not(.not-numbered) {
    counter-increment: h5counter;
    counter-reset: h6counter;
}

.paper-contents h6:not(.not-numbered) {
    counter-increment: h6counter;
}

.paper-contents h1:not(.not-numbered):before {
    content: counter(h1counter)". ";
}

.paper-contents h2:not(.not-numbered):before {
    content: counter(h1counter)"." counter(h2counter)" ";
}

.paper-contents h3:not(.not-numbered):before {
    content: counter(h1counter)"." counter(h2counter)"." counter(h3counter)" ";
}

.paper-contents h4:not(.not-numbered):before {
    content: counter(h1counter)"." counter(h2counter)"." counter(h3counter)"." counter(h4counter)" ";
}

.paper-contents h5:not(.not-numbered):before {
    content: counter(h1counter)"." counter(h2counter)"." counter(h3counter)"." counter(h4counter)"." counter(h5counter)" ";
}

.paper-contents h6:not(.not-numbered):before {
    content: counter(h1counter)"." counter(h2counter)"." counter(h3counter)"." counter(h4counter)"." counter(h5counter)"." counter(h6counter)" ";
}

.small-caps {
    font-variant: small-caps;
}

div.footnotes {
    border-top: 2px solid #222;
}

/******** LaTeX-specific styles ********/

.paper-contents span.math.display {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.paper-contents span.math.display mjx-container {
    margin-left: auto;
    margin-right: auto;
}

.paper-contents span.equation-number {
    display: block;
}
