.paper-contents {
    line-height: 1.4;
    max-width: 50em;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    counter-reset: headingnum;
}

header.paper-header {
    background: #fff;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 1.4;
    text-align: center;
    padding: .25em 1em 1em 1em;
    border-bottom: .01em solid #000;
    position: sticky;
    top: 0;
    z-index: 1;
}

header.paper-header a:not([class]), a[class=""],
header.paper-header a:not([class]), a[class=""] {
    color: #338;
    margin: 0 2em 0 0;
    text-decoration-thickness: 1px;
}

a.pdf-link,
a.bib-link,
a.doi-link {
    display: inline-block;
    background: #55e;
    border: 1px solid #338;
    border-radius: .2em;
    color: #fff;
    text-decoration: none;
    font-size: .75rem;
    padding: 0 .3em 0 .3em;
    margin: .1em;
}

a.pdf-link:hover,
a.bib-link:hover,
a.doi-link:hover {
    box-shadow: 0 0 .125em #000;
}

a.bib-link {
    background: #666;
    border-color: #333;
}

a.doi-link {
    background: #474;
    border-color: #343;
}

.paper-contents figure {
    margin: 2em 0 1em 0;
    text-align: center;
}

.paper-contents figure.has-subfigures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 2em;
}

.paper-contents figure.subfigure {
    margin: 0;
}

.paper-contents figcaption {
    margin-top: .5em;
    font-weight: bold;
}

.paper-contents figure.has-subfigures > figcaption {
    width: 100%;
    margin-top: -.5em;
}

.paper-contents img {
    max-width: 50em;
    margin: .1em;
}

.paper-contents img.img-small {
    width: 12em;
}

.paper-contents .subfigure img.img-small {
    height: 12em;
    object-fit: contain;
}

.paper-contents img.img-medium {
    width: 25em;
}

.paper-contents img.img-large {
    width: 100%;
}

.paper-contents table {
    border-collapse: collapse;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin: 2em auto 2em auto;
    min-width: 25em;
}

.paper-contents table p {
    margin: 0;
}

.paper-contents table tfoot {
    font-size: .75em;
    border-top: 1px solid #000;
}

.paper-contents table table {
    border: none;
    margin: 0 auto 0 auto;
    min-width: 0;
}

.paper-contents table[role="presentation"] {
    border: none;
}

.paper-contents caption {
    font-weight: bold;
}

.paper-contents figure+table {
    margin-top: 4em;  /* Additional space for tables preceded by figures (consecutive captions) */
}

.paper-contents thead {
    border-bottom: 1px solid #000;
}

.paper-contents .border-above {
    border-top: .01em solid #000;
}

.paper-contents th,
.paper-contents td {
    padding: .2em .5em .2em .5em;
    text-align: center;
}

.paper-contents td.has-rowspan {
    border-top: .01em solid #000;
    border-bottom: .01em solid #000;
}

.paper-contents pre {
    text-align: left;
}

.paper-contents dl:not(.description-env) {
    margin: 0 0 0 1em;
    display: grid;
    column-gap: .5em;
    row-gap: 0em;
    grid-template-columns: auto 1fr;
}

.paper-contents dl:not(.description-env) dt {
    white-space: nowrap;
    margin: 0;
}

.paper-contents dl:not(.description-env) dd {
    margin: 0;
}

.paper-contents dl.description-env dt {
    font-weight: bold;
}

.paper-contents div.CopyrightBlock,
.paper-contents .hidden {
    display: none;
}

.paper-contents div.Paper-Title {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.1;
    margin: 0;
    text-align: center;
}

.paper-contents div.Author {
    margin-top: 1em;
}

.paper-contents .all-authors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
}

.paper-contents .author-chunk {
    text-align: center;
}

.paper-contents div.Affiliations p {
    margin: 0;
}

.paper-contents span.author-footnote-content:before {
    content: ' ';
    clear: right;
    display: block;
}

.paper-contents ol ol {
    list-style-type: lower-roman;
}

.paper-contents ol ol ol {
    list-style-type: lower-alpha;
}

.paper-contents h1,
.paper-contents h2,
.paper-contents h3,
.paper-contents h4,
.paper-contents h5,
.paper-contents h6 {
    font-family: Helvetica,Arial,sans-serif;
    margin: .5em 0 .5em 0;
}

.paper-contents h1 {
    font-size: 1.5em;
    text-transform: uppercase;
}

.paper-contents h1:not(.not-numbered) {
    counter-increment: h1counter;
    counter-reset: h2counter h3counter h4counter h5counter h6counter;
}

.paper-contents h2 {
    font-size: 1.25em;
}

.paper-contents h2:not(.not-numbered) {
    counter-increment: h2counter;
    counter-reset: h3counter h4counter h5counter h6counter;
}

.paper-contents h3 {
    font-size: 1.25em;
    font-weight: normal;
    font-style: italic;
}

.paper-contents h3:not(.not-numbered) {
    counter-increment: h3counter;
    counter-reset: h4counter h5counter h6counter;
}

.paper-contents h4:not(.not-numbered) {
    counter-increment: h4counter;
    counter-reset: h5counter h6counter;
}

.paper-contents h5:not(.not-numbered) {
    counter-increment: h5counter;
    counter-reset: h6counter;
}

.paper-contents h6:not(.not-numbered) {
    counter-increment: h6counter;
}

.paper-contents h1:not(.not-numbered):before {
    content: counter(h1counter)". ";
}

.paper-contents h2:not(.not-numbered):before {
    content: counter(h1counter)"." counter(h2counter)" ";
}

.paper-contents h3:not(.not-numbered):before {
    content: counter(h1counter)"." counter(h2counter)"." counter(h3counter)" ";
}

.paper-contents h4:not(.not-numbered):before {
    content: counter(h1counter)"." counter(h2counter)"." counter(h3counter)"." counter(h4counter)" ";
}

.paper-contents h5:not(.not-numbered):before {
    content: counter(h1counter)"." counter(h2counter)"." counter(h3counter)"." counter(h4counter)"." counter(h5counter)" ";
}

.paper-contents h6:not(.not-numbered):before {
    content: counter(h1counter)"." counter(h2counter)"." counter(h3counter)"." counter(h4counter)"." counter(h5counter)"." counter(h6counter)" ";
}

.small-caps {
    font-variant: small-caps;
}

div.footnotes {
    border-top: 2px solid #222;
}

mjx-container {  /* For long MathJax equations; in future versions they will better support line breaks */
    overflow-x: auto;
    overflow-y: hidden;
}

/******** LaTeX-specific styles ********/

.paper-contents span.math.display {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.paper-contents span.math.display mjx-container {
    margin-left: auto;
    margin-right: auto;
}

.paper-contents span.equation-number {
    display: block;
}

.paper-contents span.fbox {
    border: 1px solid black;
    display: block;
    padding: .25em;
}

.paper-contents figure span.fbox {
    display: inline-block;
    padding: 0;
}

.paper-contents figure span.fbox img {
    margin: 0;
}

.paper-contents span.ALIndent {  /* Algorithm indent */
    display: inline-block;
}
