div#content {
    margin: 2em 4em 2em 4em;
}

div#content p {
    max-width: 50em;
}

ol.doc-warning {
    padding: 0;
}

ol.doc-warning li {
    background-color: #ffb;
    margin: .25em 0 .25em 0;
    padding: .5em;
    border: 1px solid #eeb;
    list-style: none;
}

span.doc-warning-message {
    font-style: oblique;
}

span.doc-warning-extra {
    margin-left: 2em;
    font-weight: bold;
}

span.doc-warning-extra::before {
    content: '\2014';
    position: relative;
    left: -1em;
    font-weight: normal;
}

button.doc-warning-showhelp {
    float: right;
    font-size: .75em;
    padding: .25em .5em .25em .5em;
}

span.doc-warning-help {
    margin-top: 1.4em;
    display: block;
}

button#btn-upload {
    margin-top: 2em;
}

/******** Admin ********/
table.submitted-papers td.id,
table.submitted-papers td.time {
    font-family: 'Courier New', Courier, monospace;
}

table.submitted-papers td.id,
table.submitted-papers td.time {
    font-family: 'Courier New', Courier, monospace;
}

table.submitted-papers th,
table.submitted-papers td {
    padding: .1em .4em .1em .4em;
}

table.submitted-papers th {
    text-align: left;
    border-bottom: 1px solid #222;
}

/******** Camera ready ********/
div#import-data {
    margin: 1em;
    padding: 1em;
    border: 1px solid #000;
}

div#import-data th,
div#import-data td {
    padding: .1em .4em .1em .4em;
}

div#import-data th {
    text-align: left;
    border-bottom: 1px solid #222;
}

form div.item {
    display: flex;
    align-items: baseline;
    margin-top: 2em;
}

form div.item label {
    display: inline-block;
    width: 15em;
}

div#import-settings input[type="submit"] {
    margin-top: 1em;
}

div#results-output {
    padding: 1em;
    border: 1px solid #000;
}

table.submitted-papers td.corresponding-email {
    max-width: 20em;
}

table.submitted-papers td.authors {
    max-width: 20em;
}

table.submitted-papers td.actions label {
    display: block;
}

table.submitted-papers input[type="checkbox"] {
    width: 1em;
    height: 2em;
}

form#metadata-update input[type="text"],
form#metadata-update textarea {
    width: 30em;
}

form#metadata-update .item button {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

form#metadata-update .success {
    color: #090;
    font-weight: bold;
    margin-left: 0.5em;
}

div.author-list p {
    margin: 0;
}

textarea[name="abstract"] {
    height: 10em;
}
