<% title = 'Camera-ready submission' -%>
<%- include ('../header.html') %>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/papaparse@5.4.1/papaparse.js" defer></script>
<h1>Import list of accepted papers for camera-ready submission</h1>

<p>
-- Make importer very standalone in case the format turns out to be XLSX or unstructured txt or something.
-- if XLSX, definitely use SheetJS which is used by Excel Online itself
</p>

<p>The import file should be a CSV with three or more columns, including a column of semicolon-separated author names called <code>authors</code>, semicolon-separated corresponding author email addresses called <code>corresponding_email</code>, and the paper title column called <code>title</code>. Special characters (e.g., commas, quotation marks) should be automatically escaped correctly if the CSV is saved from software such as Pandas, Excel, or Google Sheets.</p>

<p>For example:</p>
<pre>authors,corresponding_email,title
First Author;Second B. Author;Third C. Author,fa@example.com;tc@example.com,My paper title</pre>

<fieldset>
    <legend>Drag and drop file or click Browse</legend>
    <input type=file id="import-file" aria-label="CSV file" />
</fieldset>

<h2>Data to import</h2>
<div id="import-data">
    <table>
        <thead>
            <tr><th>authors</th><th>corresponding_email</th><th>title</th><th></tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<h2>Import settings</h2>
<div id="import-settings">
    <form>
        <div class="item">
            <label>Venue name (e.g., edm2020)</label>
            <input type="text" name="venue" />
        </div>
        <div class="item">
            <label>Re-enter admin password</label>
            <input type="password" placeholder="Password" name="pw" /> 
        </div>
        <input type="submit" value="Run import" />
    </form>
</div>

<div id="import-results" class="hidden">
    <h2>Import results</h2>
    <div class="results-output"></div>
    <div id="manage-results-link">
        <form action="" method=POST>
            <input type="hidden" name="pw" />
            <a href="javascript:;">Manage resulting papers</a>
        </form>
    </div>
</div>

<script type="module" src="/js/import.js"></script>
<%- include ('../footer.html') _%>
