<% title = 'Manage papers' -%>
<%- include ('../header.html') %>
<h1>Manage accepted papers for <%= venue %></h1>

<p>For the HTML column, <em>Y</em> indicates that there are no high-severity conversion issues and the authors have certified the converted paper. <em>X</em> indicates that the converted paper has not been certified (e.g., because there are major issues). <em>N</em> indicates nothing was submitted.</p>

<table class="submitted-papers">
  <thead>
    <tr>
      <th class="actions"><input type="checkbox" class="actions"></th>
      <th class="paper-num sortable">#</th>
      <th class="id sortable">id</th>
      <th class="pdf-ok sortable">PDF</th>
      <th class="html-ok sortable">HTML</th>
      <th class="authors sortable">authors</th>
      <th class="time sortable">last updated</th>
      <th class="emailed sortable">emailed</th>
      <th class="correspnding-email sortable">corresponding email</th>
      <th class="title sortable">title</th>
    </tr>
  </thead>
  <tbody>
  <%_ Object.keys(papers).sort().forEach((id) => { _%>
    <tr>
      <td class="actions"><label><input type="checkbox" class="actions" data-paper-id="<%= papers[id].id %>"></label></td>
      <td class="paper-num"><%= papers[id].paper_num %></td>
      <td class="id"><a target="_blank" href="/camera/metadata/<%= venue %>/<%= papers[id].id %>"><%= papers[id].id %></a></td>
      <td class="pdf-ok"><%= papers[id].pdf_original_filename ? 'Y' : '' %></td>
      <td class="html-ok"><%= papers[id].conversion_certified ? 'Y' : (papers[id].conversion_low_severity >= 0 ? 'X' : 'N') %></td>
      <td class="authors"><%= papers[id].authors.join('; ') %></td>
      <td class="time"><%= new Date(papers[id].last_updated).toISOString().replace('T', ' ').substr(0, 19) %></td>
      <td class="emailed"><%= papers[id].emailed %></td>
      <td class="corresponding-email"><%= papers[id].corresponding_email.join('; ') %></td>
      <td class="title"><%= papers[id].title %></td>
    </tr>
  <%_ }) _%>
  </tbody>
</table>

<div class="actions hidden">
  <h2>Actions for selected papers</h2>
  <div class="collapsible">
    <div class="collapsible-title">&triangleright; Email corresponding authors</div>
    <div class="email-fields collapsible-content hidden">
      <%_ if (settings.email_authors.length > 1) { _%>
      <h3>Load previous email template</h3>
      <ol>
        <%_ settings.email_authors.slice(1).forEach((template, i) => { _%>
        <li>
          <a href="javascript:;" class="load-email-template"
            data-subject64="<%= btoa(template.subject) %>"
            data-body64="<%= btoa(template.body) %>"><%= template.subject %></a>
          (<%= new Date(template.serverUnix).toLocaleString() %>)
        </li>
        <%_ }) _%>
      </ol>
      <%_ } _%>
      <label for="subject">Subject</label>
      <input type="text" id="subject" value="<%= settings.email_authors.slice(-1).pop().subject.replace('{VENUE}', venue) %>">
      <label for="body-text">Body</label>
      <textarea id="body-text"><%= settings.email_authors.slice(-1).pop().body.replace('{VENUE}', venue) %></textarea>
      <ul>
        <li>{AUTHORS} will be replaced by the authors of the paper</li>
        <li>{NUM} will be replaced by the paper number (i.e., <code>#</code>)</li>
        <li>{TITLE} will be replaced by the title of the paper</li>
        <li>{PAPER_URL} will be replaced by a link to the paper's submission page</li>
      </ul>
      <button id="preview">Preview a random email</button>
      <label for="pw">Re-enter admin password</label>
      <input type="password" placeholder="Password" name="pw" />
      <button id="send" disabled>Send</button>
      <div class="results-output hidden"></div>
    </div>
    <div class="hidden overlay">
      <div class="overlay-content">
        <div class="overlay-instructions">Click anywhere or press escape to close.</div>
        <pre></pre>
      </div>
    </div>
  </div>
</div>

<script type="module" src="/js/manage.js"></script>
<%- include ('../footer.html') _%>
