<% title = 'Camera-ready submission' -%>
<%- include ('../header.html') %>
<h1>Finalize camera-ready version</h1>

<!--
 abstract = {The importance of ...},
 address = {Atlanta, Georgia, USA},
 author = {Anika Alam and A. Brooks Bowden},
 booktitle = {Proceedings of the 17th International Conference on Educational Data Mining},
 doi = {10.5281/zenodo.12730011},
 editor = {Benjamin Paaßen and Carrie Demmans Epp},
 isbn = {978-1-7336736-5-5},
 month = {July},
 pages = {957--960},
 publisher = {International Educational Data Mining Society},
 title = {Advancing High School Dropout Predictions Using Machine Learning},
 year = {2024}

* Get list of corresponding authors' emails, paper title, paper num from EasyChair
* Generate and send email w/unique unguessable URL for each paper
  * also need to generate dir on server or something for each paper
  ^^^^^^^^^^^^^
* On the submission page:
  * boxes for .bib metadata that we don't already know
    * including abstract because this always usually changes
    * show authors but not editable without TBD petition
  * PDF submission
  * HTML conversion
  * checking paper title (import it but make it editable)
    * possibly check vs. HTML if possible
  * remind if they upload PDF after HTML

-->

<script type="text/javascript" src="/js/metadata.js"></script>
<%- include ('../footer.html') _%>
