<% title = 'Camera-ready submission' -%>
<%- include ('../header.html') %>
<h1>Finalize camera-ready version</h1>

<!--
 abstract = {The importance of ...},
 address = {Atlanta, Georgia, USA},
 author = {Anika Alam and A. Brooks Bowden},
 booktitle = {Proceedings of the 17th International Conference on Educational Data Mining},
 doi = {10.5281/zenodo.12730011},
 editor = {Benjamin Paaßen and Carrie Demmans Epp},
 isbn = {978-1-7336736-5-5},
 month = {July},
 pages = {957--960},
 publisher = {International Educational Data Mining Society},
 title = {Advancing High School Dropout Predictions Using Machine Learning},
 year = {2024}

* Get list of corresponding authors' emails, paper title, paper num from EasyChair
* Generate and send email w/unique unguessable URL for each paper
  ^^^^^^^^^^^^^
* On the submission finalization/metadata page:
  * boxes for .bib metadata that we don't already know
    * including abstract + title because this always usually changes
    * show authors but not editable without TBD petition
  * PDF submission
  * HTML conversion
  * checking paper title (import it but make it editable)
    * possibly check vs. HTML if possible
  * remind if they upload PDF after HTML

-->

<form id="metadata-update">
  <div class="item">
    <label>PDF (not anonymized)</label>
    <div class="upload">
      <span class="current-file">
        Current version:
        <%_ if (paper.pdf_original_filename) { _%>
        <a href="/camera/metadata/<%= paper.venue %>/<%= paper.id %>/pdf"><%= paper.id %>.pdf</a>
        <%_ } else { _%>
        <a>(none)</a>
        <%_ } _%>
      </span>
      <button>Replace</button>
      <input type="file" name="pdf" accept=".pdf" class="hidden" />
      <span class="busy hidden">Uploading...</span>
      <span class="success hidden">✓</span>
    </div>
  </div>
  <div class="item">
    <label>Word or LaTeX source file <br />(not anonymized)</label>
    <div class="upload">
      <span class="current-file">
        Converted document:
        <%_ if (paper.converted_id && paper.conversion_low_severity >= 0) { _%>
        <a target="_blank" href="/process/<%= paper.converted_id %>"><%= paper.converted_id %></a>
        <%_ } else if (!paper.converted_id) { _%>
        <a target="_blank">(none)</a>
        <%_ } _%>
      </span>
      <button class="<% if (paper.converted_id && !(paper.conversion_low_severity >= 0)) { %>hidden<% } %>">Replace</button>
      <input class="hidden" type="file" name="source" accept=".docx,.zip" />
      <span class="busy hidden">Uploading...</span>
      <span id="currently-converting" class="busy <%_ if (!paper.converted_id || paper.conversion_low_severity >= 0) { %> hidden <%_ } %>">Converting...(refresh page to update; may take minutes)</span>
      <%_ if (paper.conversion_high_severity) { _%>
      <p id="conversion-high-severity">
        The HTML version of the converted paper has one or more high-severity issues that must be resolved before the paper can be finalized.
      </p>
      <%_ } else if (paper.conversion_medium_severity || paper.conversion_low_severity) { _%>
      <p id="conversion-other-severity">
        Low- or medium-severity issues were detected in the HTML version of the converted paper. Please review the converted document and resolve these issues if possible.
      </p>
      <%_ } _%>
      <%_ if (paper.conversion_high_severity === 0) { _%>
      <div id="certify-conversion" class="<% if (!paper.converted_id || paper.conversion_high_severity) { _%> hidden <%_ } %>">
        <label>
          <input type="checkbox" <%_ if (paper.conversion_certified) { %> checked <%_ } %> />
          I have reviewed the converted paper, have resolved all issues feasible, and am satisfied with the final version.
        </label>
      </div>
      <%_ } _%>
    </div>
  </div>
  <div class="item">
    <label>Title</label>
    <input type="text" name="title" value="<%= paper.title %>" />
    <button class="hidden">Save change</button>
    <span class="success hidden">✓</span>
  </div>
  <div class="item">
    <label>Abstract</label>
    <textarea name="abstract"><%= paper.abstract %></textarea>
    <button class="hidden">Save change</button>
    <span class="success hidden">✓</span>
  </div>
  <div class="item author-list">
    <label>Authors</label>
    <div>
      <%_ paper.authors.forEach((author) => { _%>
        <p><%= author %></p>
      <%_ }) _%>
    </div>
  </div>
</form>

<script type="text/javascript" src="/js/metadata.js"></script>
<%- include ('../footer.html') _%>
